.about {
  height: calc(100vh - 200px);
  margin: 0 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headshot {
    max-width: 50vw;
    max-height: calc(100vh - 200px);
    margin-right: 20px;
  }
  .about-txt {
    font-weight: 300;
    color: $jet;
    margin-left: 20px;
    max-height: 100%;
    overflow: scroll;
  }
}
.about-mobile {
  height: calc(100vh - 200px);
  .about-img {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    .headshot {
      max-height: 100% !important;
      max-width: 90vw !important;
    }
  }
  .about-txt {
    width: 100%;
    padding: 30px;
    text-align: center;
    height: 50%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    color: $jet;
    p {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
