#exhibitionCarousel {
  .carousel-inner {
    height: calc(100vh - 200px) !important;
  }
  .exhibition-image {
    max-height: calc(100vh - 210px);
    max-width: 50vw;
    padding: 20px;
    padding-left: 110px;
  }
}
.exhibit-div {
  display: flex;
  justify-content: space-around;
  background-color: $jet;
  align-items: center;
  height: calc(100vh - 200px) !important;
  padding: 20px;
  .exhibit-txt {
    width: 50vw;
    padding: 0px 100px 20px 20px;
  }
}
