<div class="about hidden-xs hidden-sm">
  <div class="about-img">
    <%= image_tag "/assets/annie.jpg", alt: "a gilchrist headshot", class:"headshot" %>
  </div>
  <div class="about-txt">
    <p>English artist Anneliese Gilchrist is notable for her bold ink paintings and prints. After graduating from Cambridge in 2012, she worked and exhibited in Germany before moving back to London.<br><br>Next exhibiting in London Brixton Village, May 2019.<br><br>For enquiries about the artist’s work, future exhibitions or to join our mailing list, please send an email to: mail@anneliesegilchrist.com<br><br></p>
  </div>
</div>
<div class="about-mobile hidden-md hidden-lg hidden-xl">
  <div class="about-img">
    <%= image_tag "/assets/annie.jpg", alt: "a gilchrist headshot", class:"headshot" %>
  </div>
  <div class="about-txt">
    <p>English artist Anneliese Gilchrist is notable for her bold ink paintings and prints. After graduating from Cambridge in 2012, she worked and exhibited in Germany before moving back to London.<br><br>Next exhibiting in London Brixton Village, May 2019.<br><br>For enquiries about the artist’s work, future exhibitions or to join our mailing list, please send an email to: mail@anneliesegilchrist.com<br><br></p>
  </div>
</div>



