<div class="web-body">
  <%= image_tag "playa1.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
  <%= image_tag "playa2.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
  <%= image_tag "playa3.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
</div>
