<div class="web-body">
  <%= image_tag "landscapes/landscape3.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
  <%= image_tag "landscapes/landscape4.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
  <%= image_tag "landscapes/landscape5.JPG", alt: "Anneliese Gilchrist beach painting mexico", class: "home_image" %>
</div>
